In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import scipy.stats as sts 
%matplotlib inline
import seaborn as sns

In [2]:
houses = pd.read_csv('housing.csv')
houses.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

# Задание 1. Масштабирование

### а)  Нормализовать признак - median_income

In [3]:
from sklearn import preprocessing

In [17]:
column_names_to_normalize = ['median_income']
x = houses[column_names_to_normalize].values
x_scaled = min_max_scaler.fit_transform(x)
df_temp = pd.DataFrame(x_scaled, columns=column_names_to_normalize, index = houses.index)
houses[column_names_to_normalize] = df_temp
houses.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,0.539668,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,0.538027,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,0.466028,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,0.354699,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,0.230776,342200.0,NEAR BAY

### б)  Привести признак - population к масштабу от 0 до 100

In [18]:
from sklearn.preprocessing import minmax_scale

In [28]:
column_names_to_mash = ['population']
x = houses[column_names_to_mash].values
x_scaled = preprocessing.minmax_scale(x, feature_range=(0, 100), axis=0, copy=True)
df_temp = pd.DataFrame(x_scaled, columns=column_names_to_mash, index = houses.index)
houses[column_names_to_mash] = df_temp
houses.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,0.894083,126.0,0.539668,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,6.721040,1138.0,0.538027,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,1.381765,177.0,0.466028,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,1.555537,219.0,0.354699,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,1.575156,259.0,0.230776,342200.0,NEAR BAY

# Задание 2. Заполнение пропусков

### а)  Заполнить пропуски в столбце total_bedrooms средними значениями по категориям столбца ocean_proximity

In [8]:
houses['total_bedrooms']= houses.groupby("ocean_proximity")['total_bedrooms'].transform(lambda x: x.fillna(x.mean()))
houses.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,sr_kolichestvo,group_of_rooms
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,7.0,>6
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.0,5-6
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,8.0,>6
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,6.0,5-6
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,6.0,5-6

# Задание 3. Категорийные атрибуты

### а)  Посчитать среднее кол-во комнат в строке

In [3]:
houses['sr_kolichestvo'] = round(houses['total_rooms']/houses['households'])
houses.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,sr_kolichestvo
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,7.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,8.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,6.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,6.0

### б)  Разбить полученный столбец на группы на ваше усмотрение

In [6]:
houses['group_of_rooms'] = houses['sr_kolichestvo'].apply(lambda x: '<5' if x < 5 else '5-6' if x < 7 else '>6')
houses.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,sr_kolichestvo,group_of_rooms
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,7.0,>6
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.0,5-6
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,8.0,>6
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,6.0,5-6
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,6.0,5-6